In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mt
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df=pd.read_csv('application_data.csv')

In [ ]:
df.head()

In [ ]:
# To prevent rows & columns being appended
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [ ]:
df.tail()

# Preprocessing

In [ ]:
#df['AMT_ANNUITY']=df['AMT_ANNUITY'].astype(object)
#df['AMT_INCOME_TOTAL']=df['AMT_INCOME_TOTAL'].astype(object)

# Income left to the clients for consumption

df['disp_income'] = df['AMT_INCOME_TOTAL'] - df['AMT_ANNUITY']

In [ ]:
# Creating income bins
income_new = [50000,100000,150000,200000,250000,300000,350000,400000,450000,500000,100000000]
range_income = ['50000-100000','100000-150000','150000,200000','200000-250000', '250000-300000', '300000-350000','350000-400000',
       '400000-450000','450000-500000','500000-100000000']

df['AMT_INCOME_NEW']=pd.cut(df['AMT_INCOME_TOTAL'],income_new,labels=range_income)

In [ ]:
df.head()

In [ ]:
#df.drop(labels='AMT_INCOME_TOTAL',axis=1,inplace=True)

## Analysis of columns to be removed

In [ ]:
# Applicants are submitting only 1/21 documents and it's been observed that 70% 
# of the applicants are submitting 'FLAG_DOCUMENT_3'

df['FLAG_DOCUMENT_3'].value_counts()/len(df)*100

## Removal of redundant columns

In [ ]:
# Dropped all the columns of personal documents
df1=df.drop(df.loc[:,'FLAG_DOCUMENT_2':'FLAG_DOCUMENT_21'].head(0).columns, axis=1)
df1

In [ ]:
df1.drop(['DAYS_REGISTRATION', 'DAYS_ID_PUBLISH'], inplace=True, axis=1)

In [ ]:
df1.head()

# Exploratory Data Analysis

## Quantitative Approach

In [ ]:
# Description of all numerical variables
df1.describe()

In [ ]:
# Description of all categorical variables
df1.describe(include='object')

In [ ]:
#for col in df1.columns:
    #print (col)

In [ ]:
#for i in df1.columns:
    #print(i,":",df1[i].unique())
    #print('\n')

In [ ]:
# Checking null values
df1.isnull().sum()

In [ ]:
df1['CODE_GENDER'].value_counts()/len(df1['CODE_GENDER'])*100

OBSERVATION: 66% of the data comprises of female clients

## Distributional Observations

In [ ]:
# Visualizing univariate dist. of data i.e. variable against the density

numeric_cols = list(df1.select_dtypes(exclude=['object']).columns)
for col in df1.columns:
    if col in numeric_cols:
        sns.displot(data=df1, x=col, kind='kde', fill=True, palette=sns.color_palette('bright'), height=5, aspect=2.5)
        plt.show()

# Univariate Analysis

In [ ]:
cat_cols = df1.select_dtypes(exclude = np.number)
num_cols = df1.select_dtypes(include = np.number)

In [ ]:
for i in num_cols.columns:
    sns.boxplot(num_cols[i])
    plt.show()

* The above visualization has been done to check data's symmetry, skew, variance, and outliers.

## Checking correlation

In [ ]:
fig, ax = plt.subplots(figsize=(25, 15))
sns.heatmap(df1.corr(),cmap="YlGnBu", annot=True, ax=ax)
plt.show()

### Dropping correlated columns

In [ ]:
corr_thresh = 0.60

cor_matrix = df1.corr().abs()
upper_tri = cor_matrix.where(np.triu(np.ones(cor_matrix.shape),k=1).astype(bool))
to_drop_cols = [column for column in upper_tri.columns if any(upper_tri[column] > corr_thresh)]

df1.drop(columns=to_drop_cols,inplace=True)

Correlation coefficients whose magnitude are between 0.7 and 0.9 indicate variables which can be considered highly correlated.

In [ ]:
df1.shape

In [ ]:
df1.head()

In [ ]:
# Sanity check after dropping correlated columns
fig, ax = plt.subplots(figsize=(40, 30))
sns.heatmap(df1.corr(),cmap="YlGnBu", annot=True, ax=ax)
plt.show()

## Dropping Insignificant Variables

In [ ]:
# dropping null values columns based on missing values threshold
null_percentage = df1.isnull().sum()/df1.shape[0]*100

In [ ]:
col_to_drop = null_percentage[null_percentage>60].keys()

output_df = df1.drop(col_to_drop, axis=1)

In [ ]:
df1.shape

## Missing Value Treatment

In [ ]:
df1['SK_ID_CURR']=df1['SK_ID_CURR'].astype(object)
df1['CODE_GENDER']=df1['CODE_GENDER'].astype(object)
df1['TARGET']=df1['TARGET'].astype(object)
df1['FLAG_MOBIL']=df1['FLAG_MOBIL'].astype(object)
df1['FLAG_WORK_PHONE']=df1['FLAG_WORK_PHONE'].astype(object)
df1['FLAG_CONT_MOBILE']=df1['FLAG_CONT_MOBILE'].astype(object)
df1['FLAG_PHONE']=df1['FLAG_PHONE'].astype(object)
df1['FLAG_EMAIL']=df1['FLAG_EMAIL'].astype(object)
df1['AMT_REQ_CREDIT_BUREAU_YEAR']=df1['AMT_REQ_CREDIT_BUREAU_YEAR'].astype(object)
df1['AMT_REQ_CREDIT_BUREAU_QRT']=df1['AMT_REQ_CREDIT_BUREAU_QRT'].astype(object)
df1['AMT_REQ_CREDIT_BUREAU_MON']=df1['AMT_REQ_CREDIT_BUREAU_MON'].astype(object)
df1['AMT_REQ_CREDIT_BUREAU_WEEK']=df1['AMT_REQ_CREDIT_BUREAU_WEEK'].astype(object)
df1['AMT_REQ_CREDIT_BUREAU_DAY']=df1['AMT_REQ_CREDIT_BUREAU_DAY'].astype(object)
df1['AMT_REQ_CREDIT_BUREAU_HOUR']=df1['AMT_REQ_CREDIT_BUREAU_HOUR'].astype(object)
df1['DEF_30_CNT_SOCIAL_CIRCLE']=df1['DEF_30_CNT_SOCIAL_CIRCLE'].astype(object)
df1['OBS_30_CNT_SOCIAL_CIRCLE']=df1['OBS_30_CNT_SOCIAL_CIRCLE'].astype(object)
df1['REG_REGION_NOT_LIVE_REGION']=df1['REG_REGION_NOT_LIVE_REGION'].astype(object)
df1['REG_REGION_NOT_WORK_REGION']=df1['REG_REGION_NOT_WORK_REGION'].astype(object)
df1['REG_CITY_NOT_LIVE_CITY']=df1['REG_CITY_NOT_LIVE_CITY'].astype(object)
df1['REG_CITY_NOT_WORK_CITY']=df1['REG_CITY_NOT_WORK_CITY'].astype(object)

In [ ]:
df1.isnull().sum()

In [ ]:
#df1['APARTMENTS_AVG'].unique()

In [ ]:
#df1['AMT_REQ_CREDIT_BUREAU_HOUR'].value_counts()/len(df1['AMT_REQ_CREDIT_BUREAU_HOUR'])*100

### Checking Skewness

In [ ]:
df1.skew(numeric_only=True)

In [ ]:
#df['EXT_SOURCE_2'].value_counts()

### Filling missing values with Mean/Median/Mode

In [ ]:
# Filling of categorical variables with modes
a=['NAME_TYPE_SUITE','OCCUPATION_TYPE','AMT_REQ_CREDIT_BUREAU_HOUR','AMT_REQ_CREDIT_BUREAU_DAY',
  'AMT_REQ_CREDIT_BUREAU_WEEK','AMT_REQ_CREDIT_BUREAU_MON','AMT_REQ_CREDIT_BUREAU_QRT','AMT_REQ_CREDIT_BUREAU_YEAR',
  'OBS_30_CNT_SOCIAL_CIRCLE','DEF_30_CNT_SOCIAL_CIRCLE','FONDKAPREMONT_MODE','HOUSETYPE_MODE','HOUSETYPE_MODE',
  'WALLSMATERIAL_MODE','EMERGENCYSTATE_MODE','disp_income','AMT_INCOME_NEW']
for i in a:
    df1[i] = df1[i].fillna(df1[i].mode()[0])

In [ ]:
# Filling mean values in numerical columns with moderate skewness
b=['EXT_SOURCE_2','EXT_SOURCE_3','YEARS_BUILD_AVG','DAYS_LAST_PHONE_CHANGE',]
for j in b:
    df1[j] = df1[j].fillna(df1[j].mean())

In [ ]:
# Filling median values in numerical columns with high skewness
c=['APARTMENTS_AVG','YEARS_BEGINEXPLUATATION_AVG', 'COMMONAREA_AVG', 'LANDAREA_AVG','NONLIVINGAPARTMENTS_AVG',
  'NONLIVINGAREA_AVG','OWN_CAR_AGE']
for k in c:
    df1[k] = df1[k].fillna(df1[k].median())

In [ ]:
df1.info()

## Univariate Visualization

### Observing categorical variables

In [ ]:
cat_cols.columns

In [ ]:
cat_col = ['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
       'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE',
       'WEEKDAY_APPR_PROCESS_START', 'FONDKAPREMONT_MODE',
       'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']
for i in cat_col:
    sns.countplot(cat_cols[i], palette="Blues")
    plt.xticks(rotation=90)
    plt.show()

* Cash loans have been issued more in proportion to revolving loans
* Client data has females more in number
* Majority of the overall clients have neither car nor property and are residing unaccompanied
* Only a few clients have been awarded academic degrees
* Most of them are laborers and sales staff, married living in house/apartments

In [ ]:
df1.TARGET.value_counts().plot(kind='pie', subplots=True, 
autopct='%1.2f%%', explode= (0.05, 0.05), startangle=80, legend=True, fontsize=12, 
figsize=(14,6), textprops={'color':"black"})
plt.legend(["0: others", "1: client with payment difficulty"]);

## Bivariate/Multivariate Analysis

### 1. On the basis of "amount credited as loan"

In [ ]:
f, axes = plt.subplots(figsize=(8, 5), facecolor='white')
sns.barplot(df1['NAME_CONTRACT_TYPE'], df1['AMT_CREDIT'], hue=df['TARGET'],ci=None, palette="ocean")
plt.show();

* Though cash loans are good for borrowers as it is provided on lower borrowing costs & Predictable payments but has been a major cause of delinquencies for creditors.

In [ ]:
f, axes = plt.subplots(figsize=(15, 5), facecolor='white')
sns.barplot(df1['AMT_INCOME_NEW'], df1['AMT_CREDIT'], hue=df['TARGET'],ci=None, palette="ocean")
plt.xticks(rotation=90)
plt.show();

* Clients in the income range of 450k-500k are facing more difficulty to replay the loan which is contradicting with their income range.

In [ ]:
f, axes = plt.subplots(figsize=(10, 5), facecolor='white')
sns.barplot(df1['CODE_GENDER'], df1['disp_income'], hue=df['TARGET'],ci=None, palette="ocean")
plt.show();

In [ ]:
f, axes = plt.subplots(figsize=(10, 5), facecolor='white')
sns.barplot(df1['CODE_GENDER'],df['AMT_CREDIT'],hue=df['TARGET'],ci=None, palette="ocean")
plt.show()

* Approximately equal amount of loan has been credited to females as of males even after having relatively lesser disposable income than males

### Why females have lesser disposable income than men?

In [ ]:
f, axes = plt.subplots(figsize=(10, 2), facecolor='white')
sns.lineplot(df1['NAME_INCOME_TYPE'],df['AMT_CREDIT'],hue=df['TARGET'],ci=None, palette="ocean")
plt.xticks(rotation=90)
plt.show()

* US does not have a federal paid maternity due to which we can see that highest loan amount has been credited to females with maternal leave, followed by businessman in Target=1.
* Also, second highest loans have been issued to unemployed people in Target=0, which is an irony

In [ ]:
f, axes = plt.subplots(figsize=(10, 5), facecolor='white')
sns.barplot(df1['NAME_EDUCATION_TYPE'],df['AMT_CREDIT'],hue=df['TARGET'],ci=None, palette="ocean")
plt.xticks(rotation=90)
plt.show()

* Clients with academic degrees have highest loans issued and are now facing difficulties to repay

In [ ]:
f, axes = plt.subplots(figsize=(7, 5), facecolor='white')
sns.barplot(df1['FLAG_OWN_REALTY'], df1['AMT_CREDIT'], hue=df['TARGET'],ci=None, palette="ocean")
plt.show();

There's no much difference in the credited loan of people with and without real estate properties.

In [ ]:
f, axes = plt.subplots(figsize=(20, 5), facecolor='white')
sns.barplot(df['AMT_INCOME_NEW'], df['AMT_ANNUITY'], hue=df1['TARGET'],ci=None, palette="ocean")
plt.show()

In [ ]:
sns.barplot(df1['HOUSETYPE_MODE'],df1['NONLIVINGAPARTMENTS_AVG'],hue=df1['TARGET'],ci=None, palette="ocean")
plt.show()

Potential defaulters have highest non-living apartments.
It is assumed that the clients lying in Target=1 are living on rents, when they have nonliving apartments in countryside.

### 2. Separating the datasets for better visualization

In [ ]:
target0 =df1.loc[df1["TARGET"]==0]
target1 =df1.loc[df1["TARGET"]==1]

### 2.1 Risk analysis

In [ ]:
f, axes = plt.subplots(figsize=(20, 5), facecolor='white')
sns.barplot(target1['AMT_REQ_CREDIT_BUREAU_YEAR'],target1['AMT_CREDIT'],ci=None, palette="ocean")
plt.show()

In [ ]:
f, axes = plt.subplots(figsize=(10, 5), facecolor='white')
sns.barplot(target1['AMT_REQ_CREDIT_BUREAU_QRT'],target1['AMT_CREDIT'],ci=None, palette="ocean")
plt.show()

* Studies show that people with "six or more" hard inquiries on their credit reports can be up to eight times as likely to declare bankruptcy, compared to those with no inquiries.

In [ ]:
f, axes = plt.subplots(figsize=(7, 5), facecolor='white')
sns.barplot(target1['DEF_30_CNT_SOCIAL_CIRCLE'],target1['AMT_CREDIT'],ci=None, palette="ocean")
plt.show()

In [ ]:
f, axes = plt.subplots(figsize=(14, 5), facecolor='white')
sns.barplot(target1['OBS_30_CNT_SOCIAL_CIRCLE'],target1['AMT_CREDIT'],ci=None, palette="ocean")
plt.show()

OBS_30_CNT_SOCIAL_CIRCLE: How many observation of client's social surroundings with observable 30 DPD (days past due) default

Assumption: Client's default with other revolving cards/loans.

In [ ]:
f, axes = plt.subplots(figsize=(23, 5), facecolor='white')
sns.lineplot(target1['EXT_SOURCE_3'],target1['AMT_CREDIT'],ci=None, palette="ocean")
plt.show()

# EXT_SOURCE_3: Normalized score from external data source

* Assuming Normalized score from external data source as FICO/SRISE score
Delinquent clients with low financial scores have amount credited more than median scores

### 2.2 Income Analysis

In [ ]:
f, axes = plt.subplots(figsize=(5, 5), facecolor='white')
sns.barplot(target1['NAME_CONTRACT_TYPE'], target1['disp_income'],ci=None, palette="ocean")
plt.show()

* The disposable income of both clients (with cash & revolving loans) is varying less but the former have given higher amount of credit than latter.

In [ ]:
f, axes = plt.subplots(figsize=(10, 5), facecolor='white')
sns.barplot(target1['AMT_REQ_CREDIT_BUREAU_YEAR'], target1['AMT_INCOME_NEW'],ci=None, palette="ocean")
plt.show()

* Highest enquiries of clients with median income.

### 2.3 Occupation Analysis

In [ ]:
f, axes = plt.subplots(figsize=(25, 5), facecolor='white')
sns.barplot(target1['ORGANIZATION_TYPE'],target1['AMT_CREDIT'],ci=None, palette="ocean")
plt.xticks(rotation=90)
plt.show()

* Industries, Insurance and Emergency are the organization types where highest loans have been credited.

### 2.4 Demographic Analysis

In [ ]:
f, axes = plt.subplots(figsize=(5, 5), facecolor='white')
sns.barplot(target1['REGION_RATING_CLIENT'], target1['AMT_CREDIT'], hue=target1['TARGET'],ci=None, palette="ocean")
plt.show();

* People in region 1 have been given highest credits

In [ ]:
f, axes = plt.subplots(figsize=(15, 5), facecolor='white')
sns.lineplot(target1['LANDAREA_AVG'], target1['AMT_CREDIT'],ci=None, palette="ocean")
plt.show();

* Clients with highest land-area have least amount credited as loans.

## Checking normality of the data using histogram

In [ ]:
num_col=['CNT_CHILDREN', 'AMT_CREDIT',
       'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_REGISTRATION',
       'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'REGION_RATING_CLIENT',
       'HOUR_APPR_PROCESS_START', 'EXT_SOURCE_2', 'EXT_SOURCE_3',
       'APARTMENTS_AVG', 'YEARS_BUILD_AVG',
       'COMMONAREA_AVG', 'LANDAREA_AVG', 'NONLIVINGAPARTMENTS_AVG',
       'NONLIVINGAREA_AVG', 'DAYS_LAST_PHONE_CHANGE',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']
for i in num_cols:
    sns.histplot(num_cols[i],kde=True)
    print('The Skewness of ', i ,'column is: ', num_cols[i].skew())
    plt.show()

## Automatic Report Generation

In [ ]:
import pandas as pd
import pandas_profiling

In [ ]:
pandas_profiling.ProfileReport(df1)

In [ ]:
df1.shape

In [ ]:
#df1.to_excel('/Users/riyamehta/Desktop/App_New.xlsx')

## Conclusion

* Businessmen and unemployed people taking highest credits.
* Due to recession and disruptions leading to higher economic losses, clients faced difficulty to pay
* People with highest credit score are major defaulters